server:
  port: 8190
  servlet:
    context-path: /cart
integrations:
  product-service:
    url: http://core:8189/core/
    connect-timeout: 5000
    read-timeout: 10000
    write-timeout: 5000
cart:
  cart-prefix: winter_cart_
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://eureka:8761/eureka
spring:
  redis-stack:
    host: redis-stack
    port: 6379